/cab.class
/lambdaApp.class
/uberX.class
/lambdaApp$1.class
/Calci.class
/Calculator.class
/lmbdaMethodRefeences.class
/Message.class
/Messenger.class
/Application.class
/Human.class
/Robot.class
/walkable.class
/calculate.class
/StringWorker.class
/FactNum.class
/MygenericInterface.class
